@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;1,700&family=Jomhuria&family=Lateef&family=Rakkas&display=swap');
*{
	box-sizing:border-box;
	margin:0;
	padding:0;
    font-family:Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
}
.offcanvas-body .card-body{
    position: relative;
}
a{
	text-decoration:none;
}
.btn-primary{
    background-color: #ff375e !important;
    color: #fff !important;
}
.navbar .imgLog{
    width: 60px !important;
    height: 50px !important;

} 
.navbar-brand{
    font-family: 'Rakkas', cursive;
}
.fs30{
    font-size: 30px;
    font-weight: bold;
}
.offcanvas-body .bx{
    font-size: 25px;
    color: #2a373b;
    margin-right: 9px;
    margin-top: 5px;
}
.conOwl .items{
    position: relative;
	height: 350px;   
	display: flex;
	justify-content: center;

}
.conOwl h2{
    position: absolute;
    top: 38.3%;
    color: var(--bs-body-bg);
    right: 0;
    text-align: center;
    background-color: rgba(118, 118, 118, 0.406);
    transition: 0.3s ease-in-out;
    padding: 10px;
    margin-right: 10px;
    text-shadow: 1px 2px var(--bs-dark);
    font-weight: bold;
    width: 100%;
    margin: 0;
}
.conOwl .items p{
    position: absolute;
    top: 45.5%;
    color:#fff;
    right: 10%;
    text-align: center;   
    transition: 0.3s ease-in-out;
    padding: 10px;
    margin-right: 20px;  
    font-weight: bold;
    font-size: 17px;
    background-color: rgba(118, 118, 118, 0.406);
    text-shadow: 1px 2px #000;
    direction:rtl;
    width: 80%;   
    margin: 0 !important;
}
.conOwl .btn-primary{
    position: absolute;
    bottom: 10px;
    left: 40%;

}
.conOwl .items{
    position: relative;
    height: 350px;
    display: flex;
    justify-content: center;
    width: 350px;

}
@media(max-width:852px){
.conOwl .items h2{
    direction: rtl;
}
.conOwl .items p{ 
    top: 53%;
    color: #004ec1;   
    background-color: #fff701;
    text-shadow:none; 
}
}
.alert.alert-light h1{
    font-weight: bold;
}
.albumImg{
    position: relative;
	height: 350px;
    width: 100%;   
	display: flex;
	justify-content: center;
}
.conOwl .items img,
.albumImg img{
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translate(0%, 0%);
    border-radius: 10px;
}
.album{
    direction: rtl;
}
.conOwl {
    margin-top: 60px !important;
}


/*  OWL Carousel*/
.owl-prev,
.owl-next{
    position: absolute;
    top: 50%;
    width: 60px !important;
    height: 60px !important;
    display: grid;
    place-items: center;
    background-color: rgba(255, 255, 255, 0.3) !important;
    border-radius: 50%;
    color: #ffffff !important;
    font-weight: 600 !important;
    font-size: 16px !important;
}

.owl-prev{
    left: 0;
}
.owl-next{
    right: 0;
}
.owl-prev:hover,
.owl-next:hover{
 background-color: #e04122 !important;

}
.almP p{
    width: 100%;
    text-align: right;
    font-weight: bold;
    direction: rtl;
}



